@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  /* max-inline-size: 100%; */
  /* block-size: auto; */
  max-width: 100%;
  height: auto;
  display: block;
}

/* common style    */
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.primary_button {
  padding: 1rem 1.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 0.5rem;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}
.btn {
  background: #078d84;
  color: #fff;
  border: 1px solid transparent;
}
.btn:hover {
  background: #fff;
  cursor: pointer;
  border: 1px solid #078d84;
  color: #078d84;
}
.btn_outline {
  background: #fff;
  color: #078d84;
  border: 1px solid #078d84;
}
.btn_outline:hover {
  cursor: pointer;
  background: #078d84;
  color: #fff;
}
/* Navigation styles */
header {
  background: transparent;
}
.logo {
  display: flex;
  align-items: center;
  gap: 7px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: #fff;
}
.nav_left {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.logo a {
  text-decoration: none;
}
.logo span {
  font-size: 1.25rem;
  line-height: 1.5rem;
}
.menu {
  display: flex;
}
.menu li {
  position: relative;
}
.menu li a {
  color: #1c1c57;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: block;
  font-size: 1rem;
  line-height: 1.5rem;
  transition: all 0.2s ease-in-out;
}
.menu li a:hover {
  color: #24245e;
}
.items_drop {
  display: flex;
  align-items: center;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffff;
  min-width: 150px;
  z-index: 1;
}
.dropdown-content a {
  color: #fff;
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: block;
  transition: all 0.2s ease-in-out;
}
.dropdown-content a:hover {
  background-color: #555;
}
.show {
  display: block;
}
.nav-right {
  display: flex;
  align-items: center;
  gap: 5rem;
}

/* banner start */
.banner {
  background: #f6f8ff;
}
.banner_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  padding: 7rem 0 0 0;
}
.banner_typography {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem 2rem;
  width: 100%;
}
.heading_6 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #1c1c57;
}
.heading_1 {
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 3.85rem;
  letter-spacing: -0.05125rem;
}
.btn_group {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.about_me {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.68rem;
}
.banner_image {
  width: 100%;
}

/* After banner before service */
.services_provided {
  background: #3e3e70;
  padding: 5rem 0;
}
.services_provided_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}
.heading_5 {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.68rem;
  color: #fff;
}
.companies {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.companies img {
  width: 100%;
  display: block;
}
.services {
  background: #f6f8ff;
  padding: 6.5rem 0 4rem 0;
}
.services_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding: 1rem 2rem;
}
.services_typography {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  padding-bottom: 1rem;
}
.services_heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.services_title {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: #000;
}
.heading_2 {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: -0.05125rem;
  color: #1c1c57;
}
.services_paragraph {
  color: #3e3e70;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.68rem;
  max-width: 600px;
  width: 100%;
}
.services_items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1.5rem;
  padding: 2rem 1.5rem;
  gap: 1.5rem;
  background-color: #fff;
  box-shadow: 0px 4px 8px -2px #1018281a;

  border-radius: 1rem;
}
.card_icons {
  width: 100px;
  height: 100px;
  padding: 1rem;
  border-radius: 1rem;
  background: #fff;
  box-shadow: 0px 1px 3px 0px #1018281a;
}
.card img {
  width: 100%;
}
/* about me */
.about {
  padding: 6rem 0;
}
.about_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
  padding: 1rem 2rem;
}
.about_img {
  position: relative;
  width: 100%;
}
.about_img::before,
.about_img::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
}

.about_img::before {
  background: url("/asstes/images/ellipse1.png") no-repeat center center;
  top: 0;
  right: 0;
  transform: translate(40%, -40%) rotate(12deg);
  z-index: -111;
}

.about_img::after {
  background: url("/asstes/images/ellipse2.png") no-repeat center center;
  bottom: 0;
  left: 0;
  transform: translate(-40%, 40%) rotate(12deg);
  z-index: -111;
}
.about_typography {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 2.5rem;
}
.heading_4 {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #1c1c57;
}
.about_paragraph{
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.68rem;
  color: #000;
}
.counter_items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.75rem;
}
.count {
  background: #fdfdff;
  text-align: left;
  box-shadow: 0px 1px 3px 0px #1018281a;
  padding: 0.8rem;
  border-radius: 0.5rem;
}
.project_num {
  font-weight: 500;
  font-size: 2.125rem;
  line-height: 2.7rem;
  letter-spacing: -0.05125rem;
  color: #000;
}
.project_completed {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}
/* Swiper container stylng */
.testimonial {
  padding: 6rem 0 2rem 0;
  background: #255bf9;
}
.swiper {
  /* position: relative; */
  max-width: 768px;
  max-height: 300px;
  /* margin: 0 auto; */
}
.swiper-wrapper {
  
}
.people_para {
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0.04rem;
  font-weight: 500;
  color: #fff;
}
.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  margin-bottom: 2rem;
}
.rating .fa-star,
.fa-star-o {
  color: #ffffff;
  font-size: 20px;
  margin: 0 2px;
  cursor: pointer;
}
.people_say_about {
  margin: 2rem 0 6rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.people_img img {
  width: 100%;
  object-fit: fill;
}
.people_disc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.people_name {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #fff;
  font-weight: 600;
}
.people_desig {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #fff;
}
.testimonial_logo {
  display: flex;
  justify-content: center;
}
.people_img{
  display: flex;
  width: 80px;
  height: 80px;
}
.people_img img{
  border-radius: 100%;
}
.testimonial_logo img {
  width: 100%;
  object-fit: contain;
}
.testimonial_logo::before {
  content: "";
  border-color: #000;
  border-style: solid;
  border-width: 0 0.15em 4.5em 0;
  margin-right: 1rem;
}
.swiper-pagination 
.swiper-pagination-bullet-active {
  background: #fff;
}
.swiper-pagination 
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #d9d9d9;
}
.swiper-button-prev,
.swiper-button-next {
  background: #9db5fc;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  color: #fff;
  font-size: 1rem;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  content: "";
}
/* .swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}
.swiper-button-prev {
  left: -50px; 
}

.swiper-button-next {
  right: -50px;
} */

/* contact style styling */
.contact{
  background: #1C1C57 url('/asstes/images/contact1.png') no-repeat center center;
  width: 100%;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .contact_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.contact_intro{
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: -0.05125rem;
  color: #fff;
}
.contact_para{
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #fff;
  margin-bottom: 2rem;
}
.hire_btn {
  background: #FFFFFF;
  color: #1C1C57;
  border: 1px solid transparent;
}
.hire_btn:hover {
  background: #1C1C57;
  cursor: pointer;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}
.hire_btn_outline {
  background: #1C1C57;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}
.hire_btn_outline:hover {
  cursor: pointer;
  background: #FFFFFF;
  color: #1C1C57;
}

/* Footer Styling */
footer{
  background: #1C1C57;
}
.footer_wrapper{
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* 12-column grid */
  gap: 6rem;
  padding: 1rem 2rem;
}
.footer_contact{
  grid-column: span 5;
  max-width: 500px;
  row-gap: 1.5rem;
}
.footer_paragraph{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #fff;
  margin: 1.5rem 0;
}
.email_box{
  display: flex;
  align-items: flex-start;
  align-items: center;
  gap: .5rem;
  margin: 1.5rem 0 1rem 0;
}
.email_box input{
  max-width: 365px;
  width: 100%;
  height: 56px;
  padding: 1rem 0.75rem 1rem 0.75rem;
  border: 1px solid #fff;
  background: transparent;
  border-radius: .2rem;
}
.subscribe_btn{
  padding: 1rem 2rem 1rem 2rem;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: .2rem;
}
.footer_last{
  font-weight: 400;
  font-size: .8rem;
  line-height: 1.125rem;
  color: #fff;
}
.footer_menu_items{
  grid-column: span 7; 
  max-width: 652px;
}
.footer_nav{
  display: grid;
  grid-template-columns: repeat(4, auto);
  row-gap: 1rem;
  align-items: flex-start;
}
.footer_line{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
ul li a {
  color: #fff;
  font-weight: 400;
  font-size: .8rem;
  line-height: 1.125rem;
}
.footer_navbar{
  margin-bottom: 1rem;
}
.footer_heading{
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #fff;
  margin-bottom: 1rem;
}
.social_nav_menu li i{
  color: #ffffff;
  font-size: 20px;
  margin: 0 2px;
  cursor: pointer;
  padding-right: .5rem;
  margin-bottom: 1.5rem;
}
.copyright{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}
.coyright_text{
  font-weight: 400;
  font-size: .8rem;
  line-height: 1.4rem;
  color: #fff;
}
.policy_nav{
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.policy_item{
  text-decoration: underline;
  font-weight: 400;
  font-size: .8rem;
  line-height: 1.4rem;
}

@media (max-width: 1280px) {
  .footer_contact,
  .footer_menu_items {
      grid-column: span 6;
      max-width: 100%;
  }
}

@media (max-width: 768px) {
  .footer_contact,
  .footer_menu_items {
      grid-column: span 12;
      max-width: 100%;
  }
}